.Main
  .Main__MainHeader
    .Main__MainHeader__container
      .Main__MainHeader__container__leftcontainer
        .Main__MainHeader__container__leftcontainer__test
          = @group.name
        .Main__MainHeader__container__leftcontainer__member
          - @group.users.each do |user|
            = user.name
      .Main__MainHeader__container__rightcontainer
        = link_to edit_group_path(@group.id), class: "Contents__btn" do
          Edit
          
  .Main__MainArea
    = render @messages

  -# .Main__Coment
  -#   .Main__Coment__UnderContainer
  -#     .Main__Coment__UnderContainer__Text
  -#       .Main__Coment__UnderContainer__Text__TextArea
  -#         textarea
  -#       .Main__Coment__UnderContainer__Text__TextRogo
  -#         %label{class: "input-box__image"}
  -#           = icon('fas', 'image')
  -#           %input{type: "file", class: "submit-btn"}
  -#     .Main__Coment__UnderContainer__Send
  -#       send

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'