.Side
  .Side__SideHeader
    .Side__SideHeader__username
      %h3.Side__SideHeader__username__numberleft
        = current_user.name
      %ul.Side__SideHeader__username__rogo
        %li.Side__SideHeader__username__rogo__numberrightright
          = link_to new_group_path, class: "Contents__btn" do
            = icon('far', 'edit')
        %li.Side__SideHeader__username__rogo__numberrightleft
          = link_to edit_user_path(current_user), class: "Contents__btn" do
            = icon('fas', 'cog')
  .Side__SideArea
    - current_user.groups.each do |group|
      .Side__SideArea__sidecontainer
        = link_to group_messages_path(group) do
          .Side__SideArea__sidecontainer__Techcamp
            = group.name
          .Side__SideArea__sidecontainer__Message
            = group.show_last_message

